# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/app/build/
android/.gradle/
android/build/
ios/Pods/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Temporary files
*.log
*.tmp

# EAS
.eas/
